.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 65%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url(https://images.pexels.com/photos/13747843/pexels-photo-13747843.jpeg?cs=srgb&dl=pexels-james-gana-13747843.jpg&fm=jpg&_gl=1*1iwmfiq*_ga*MTc4NjMzNjc1My4xNjY4MDA1ODY5*_ga_8JE65Q40S6*MTY2ODAwNTg3Mi4xLjEuMTY2ODAwNzAyOC4wLjAuMA..)
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 968px) {
  .left {
    height: 100%;
    padding: 30px !important;
    h1 {
      font-size: 90px !important;
    }
  }

  .card {
    width: 90% !important;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 768px) {
  .left {
    padding: 30px !important;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 59px !important;
      line-height: 50px !important;
    }
    p {
      display: none;
    }
  }
}
